*{
    p,ul{
        color: white;
        font-size: 19px;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    h1,h2,h3,h4{
        color: white;
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .pie{
        text-align: center;
        padding-bottom: 30px;
        b{
            font-size: 19px;
            font-family: "Roboto Slab", serif;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
        }
    }
}