footer {
    @mixin media-query-mobile{
        @media (max-width: 576px){
            @content;
        }
    }
    background-color: orange;

    @include media-query-mobile(){
        .mapa{
            width: 100%;
            iframe{
                width: 100%;
                height: 300px;
                padding: 10px;
                border-radius: 20px;
            }
        }
        .text-contacto{
            display: flex;
            flex-direction: column;
            text-align: center;
            img{
                width: 20%;
            }
            h4{
                font-size: 20px;
            }
        }
    }        
}
    
