main{
    background-image: url(../imagenes/banner.avif); 
    background-position: center;
    opacity: 100;
    @mixin media-query-mobile{
        @media (max-width: 576px){
            @content;
        }
    }

    @include media-query-mobile(){
        .titulo-imagen{
            display: flex;
            flex-direction: row;
            padding-top: 15px;
            padding-left: 10px;
            align-items: center;
            width: 100%;
            h1{
                padding-top: 20px;
                font-size: 40px;
                color: white;
            }
            img{
                height: 200px;
            }
            p{
                font-size: 15px;
            }
        }
        .sub-titulo{
            display: flex;
            flex-direction: column;
            text-align: center;
            b{
                font-size: 20px;
                color: white;
                font-family: "Yellowtail", cursive;
                font-weight: 400;
                font-style: normal;
            }
        }
        h2{
            font-size: 34px;
            text-align: center;
        }
        .gif{
            img{
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                width: 100%;
                border-radius: 20px;
            }
            padding-bottom: 20px;
        }
    }
}