main{
    @mixin media-query-mobile{
        @media (max-width: 576px){
            @content;
        }
    }

    @include media-query-mobile(){
        h2{
            padding-top: 20px;
        }
        .vallasagna{
            display: flex;
            flex-direction: row;
            padding-left: 10px;
            font-size: 20px;
            justify-content: space-around;
            padding-bottom: 30px;
        }

    }
}