main{
    @mixin media-query-mobile{
        @media (max-width: 576px){
            @content;
        }
    }

    @include media-query-mobile(){
        h2{
            padding-top: 20px;
        }
        .vallasagna{
            display: flex;
            flex-direction: row;
            padding-left: 10px;
            font-size: 20px;
            justify-content: space-around;
            padding-bottom: 30px;
            .text-bg-success{
                color: black !important;
            }
            .text-bg-primary{
                color: black !important;
            }

            ul{
                font-size: 22px;
                font-family: "Roboto Slab", serif;
                font-optical-sizing: auto;
                font-weight: weight;
                font-style: normal;
            }
        }
    }
}