main{
    @mixin media-query-mobile{
        @media (max-width: 576px){
            @content;
        }
    }

    @include media-query-mobile(){
        .porciones{
            display: flex;
            flex-direction: row;
            text-align: center;
        }
        .valpizza{
            padding-left: 40px;
            font-size: 20px;
            .text-bg-danger{
                color: black !important;
            }
            .text-bg-success{
                color: black !important;
            }
            .text-bg-primary{
                color: black !important;
            }
        }
    }
}