main{
    @mixin media-query-mobile{
        @media (max-width: 576px){
            @content;
        }
    }

    @include media-query-mobile(){
        .porciones{
            display: flex;
            flex-direction: row;
        }
        .valpizza{
            padding-left: 40px;
            font-size: 20px;
        }
    }
}